body{
   min-height: 100vh;

    background-image: 
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
    url("img/Gemini_Generated_Image_b7h7xyb7h7xyb7h7.png");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: 'EB Garamond', serif;
    color: #f5f5f5;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.card {
    width: 90%;
    max-width: 1000px;

    background: rgba(15, 15, 15, 0.75);

    backdrop-filter: blur(8px);

    border: 1px solid rgba(212, 175, 55, 0.5);

    border-radius: 25px;

    padding: 50px;

    box-shadow: 
    0 0 20px rgba(212, 175, 55, 0.2),
    0 0 50px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: 'Cinzel', serif;

    font-size: 3.2rem;

    color: #d4af37;

    text-align: center;

    margin-bottom: 20px;

    text-shadow:
    0 0 10px rgba(212,175,55,0.7),
    0 0 20px rgba(212,175,55,0.4);
}

.linha {
    width: 180px;
    height: 2px;

    background: #d4af37;

    margin: 0 auto 40px auto;

    border-radius: 10px;
}

h2 {
    font-family: 'Cinzel', serif;

    color: #d4af37;

    font-size: 2rem;

    margin-top: 35px;
    margin-bottom: 20px;
}


p {
    font-size: 1.3rem;

    line-height: 2.1rem;

    margin-bottom: 20px;

    color: #f0f0f0;

    text-align: justify;
}

.card:hover {
    transform: scale(1.01);

    transition: 0.4s ease;
}

@media (max-width: 768px) {

    .card {
        padding: 30px;
    }

    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}